body {
    background-color: #131824;  /* 背景色：燕颔蓝 */
    color: #ffffff;             /* 字体色：纯白 */
}

.roster_class {
    color: #f0f0f0;
    font-size: 12px;
    margin: 2px;
}

.roster_element {
    color: #808080;
    font-size: 12px;
    margin: 2px;
}

#WelcomeDivision {
    font-size: 16px;
    text-align: center;
    left: 50%;
    top: 45%;

    margin: 45%, 50%;
}

#Title_HELLO {
    font-size: 120px;
    font-family: "IBM Plex Mono", sans-serif;

    margin: 0px;
}

#DuawiehLOGO {
    background-color: wheat;
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    border-radius: 50%;

    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#FinalGreeting {
    text-align: center;
    font-size: 72px;
    font-family: "Ink Free", serif;
}