@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');

body {
    background-color: #131824;  /* 背景色：燕颔蓝 */
    color: #ffffff;             /* 字体色：纯白 */
    margin: 0 3%;
}

.roster_class {
    color: #f0f0f0;
    font-size: 12px;
    margin: 2px;
}

.roster_element {
    color: #808080;
    font-size: 12px;
    margin: 2px;
}

#WelcomeDivision {
    font-size: 16px;
    text-align: center;
    height: 60%;
}

#FinalDivision {
    text-align: center;
    font-size: 0px;
    font-family: "Mr Dafoe", serif;
}