@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');
@font-face {
    font-family: ZCOOLKuaiLe;
    src: url("../fonts/ZCOOLKuaiLe-Regular.ttf");
}

body {
    background-color: #2b2b2b;  /* 背景色 */

    margin: 0px;
    width: 100%;
}

.HomepageShowcaseCover {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HomepageShowcaseTitle {
    position: absolute;
    bottom: 0;

    background: linear-gradient(0deg, #000000bb 80%, #00000000);
    font-family: 'ZCOOLKuaiLe';
    color: #9060ff;
}

.ShowCase {
    z-index: 1;
    background-color: #2b2b2b;
    box-shadow: 9px 1px 10px #000000;
}

.ShowcaseTitle {
    font-size: 120%;
    padding: 0;
    margin: 1%;
}

.ShowcaseSubtitle {
    font-size: 80%;
    padding: 0;
    margin: 2%;
}

.TopButton {
    background-color: #00000000;
    font-family: 'ZCOOLKuaiLe';

    color: #9060ff;
    font-size: 24px;

    /* 浮动：向右对齐 */
    float: right;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-style: none;
}

#homepageBackgroundIcon {
    position: absolute;
    z-index: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#homepageCenterShowcase {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
}

#homepageLeftShowcase {
    position: absolute;
    left: 2%;
    top: 37%;
    width: 26%;
    height: 26%;
}

#homepageRightShowcase {
    position: absolute;
    right: 2%;
    top: 37%;
    width: 26%;
    height: 26%;
}

#topBar {
    z-index: 998244353;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}

#topBarIcon {
    height: 50px;

    padding-left: 1%;
    padding-right: 1%;
}